<div class="container mt-5 p-4 border rounded shadow bg-light">
  <h2 class="mb-4 text-center">Informacion Personal</h2>

  @if (usuario) {
    <div class="row">
      <!-- Imagen de perfil -->
      <div class="col-md-4 text-center mb-4 position-relative">
        <!-- Imagen de perfil -->
        <img 
          [src]="usuario.imagenPerfil || 'https://cdn-icons-png.flaticon.com/512/847/847969.png'" 
          alt="Imagen de perfil" 
          class="img-thumbnail rounded-circle" 
          width="250" 
          height="250"
        />
      
        <!-- Botón de edición al lado de la imagen -->
        @if(!editarfoto){
        <button 
          class="btn btn-primary position-absolute editar-foto-btn" 
          (click)="activarEdicionFoto()"
        >
          <span class="bi bi-pencil"></span>
        </button>
        }
      
        <!-- Input para cambiar la imagen -->
        @if(editarfoto){
          <input
            type="file"
            accept="image/*"
            (change)="cambiarImagen($event)"
            class="form-control-file"
          />
        }
        
      </div>
     

      <!-- Datos del usuario -->
      <div class="col-md-4">
        <p class="d-flex justify-content-between"><strong>Nombre:</strong> {{ usuario.nombre }}</p>
        <p class="d-flex justify-content-between"><strong>Email:</strong> {{ usuario.correo }}</p>
        <p class="d-flex justify-content-between"><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
        <p class="d-flex justify-content-between"><strong>Fecha de Nacimiento:</strong> {{ usuario.fechaNacimiento | date: 'longDate' }}</p>
        <p class="d-flex justify-content-between"><strong>Horario:</strong> {{ usuario.horario }}</p>
        <p class="d-flex justify-content-between"><strong>Género:</strong> {{ usuario.genero }}</p>

      </div>
      <div class="col-md-4 text-center">
      @if (contratado==true) {
      <p 
        [ngStyle]="{
          color: pagoActivo.plan === 'Básico' ? '#0d6efd' : 
          pagoActivo.plan=== 'Premium' ? '#d4af37' : 
          pagoActivo.plan === 'Avanzado' ? '#198754' : 
                '#6c757d'
        }"
      >
        <strong>Plan Contratado:</strong> {{ pagoActivo.plan }}
      </p>
      } @else {
        <p class="text-warning"><strong>Nota:</strong> No tienes un plan contratado aún.</p>
      }
      </div>
    </div>
  } @else {
    <div class="alert alert-danger text-center">
      No has iniciado sesión o el usuario no existe.
    </div>
  }
</div>

<!-- Informacion de la membresia -->
<div class="container mt-5 p-4 border rounded shadow bg-light">
  <h2 class="mb-4 text-center">Informacion de membresia</h2>
  @if(false) {
    <div class="alert alert-warning text-center">
      No tienes una membresía activa. Por favor, 
      <a routerLink="/horarioscostos" class="text-success">Elige un plan</a>
    </div>
  } @else {
    <div class="row ">
      <div class="col-md-12">
        <h3 class="text-center">Detalles de la Membresía</h3>
        <p class="text-center">Aquí puedes ver los detalles de tu membresía actual.</p>
         <!-- datos de usuario.plan -->
        <table class="table table-bordered mb-4">
          <thead>
            <tr>
              <th>Nombre del Plan</th>
              <th>Precio</th>
              <th>Duración</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            @if (pagoActivo) {
              <tr>
              <td>{{ pagoActivo.plan }}</td>
              <td>{{ pagoActivo.monto | currency }}</td>
              <td>{{ pagoActivo.duracion }} meses</td>
              @if (contratado === true) {
                <td class="text-success">Activo</td>
              } @else {
                <td class="text-danger">Inactivo</td>
              }
              </tr>
            } @else {
              <tr>
              <td colspan="4" class="text-center">No hay información disponible del plan activo.</td>
              </tr>
            }
          
          </tbody>

        </table>
        <!-- Beneficios -->
        <h4 class="text-center">Beneficios de tu Membresía</h4>
        <ul class="list-group mb-4">
          @if (planUsuario && planUsuario.beneficios) {
            @for (beneficio of planUsuario.beneficios; track beneficio) {
              <li class="list-group-item">{{ beneficio }}</li>
            }
          } @else {
            <li class="list-group-item">No hay beneficios disponibles.</li>
          }
        </ul>
        <!-- Fecha de inicio y fin -->
        <h4 class="text-center">Fechas de Membresía</h4>
        @if (usuario?.plan?.fechaInicio && usuario?.plan?.fechaFin) {
          <p class="text-center">
            Tu membresía comenzó el {{ usuario.plan.fechaInicio | date }} y finalizará el {{ usuario.plan.fechaFin | date }}
          </p>
        } @else {
          <p class="text-center">No hay fechas de inicio y fin disponibles.</p>
        }
          <!-- Botón para renovar -->
        <div class="text-center">
          @if(usuario.plan && usuario.plan.estado === 'activo') {
            <button class="btn bg-danger" (click)="cancelarMembresia()">Cancelar Membresia</button>
          } @else {
            <button class="btn btn-primary" (click)="renovarMembresia()">Renovar Membresía</button>
          }
        </div>
      </div>
    </div>
  }
</div>
<!-- Informacion de pagos -->
<div class="container mt-5 p-4 border rounded shadow bg-light">
  <h2 class="mb-4 text-center">Informacion de Pagos</h2>
  @if (pagos.length === 0) {
    <div class="alert alert-warning text-center">
      No tienes pagos registrados.
    </div>
  } @else {
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Historial de Pagos</h3>
      <p class="text-center">Aquí puedes ver el historial de tus pagos.</p>
      <!-- datos de pagos -->
      <table class="table table-bordered mb-4">
        <thead>
          <tr>
            <th>Fecha de Pago</th>
            <th>Monto</th>
            <th>Método</th>
            <th>Banco</th>
            <th>Duración</th>
          </tr>
        </thead>
        <tbody>
            @for (pago of pagos; track pago) {
              <tr>
                <td>{{ pago.fechaPago | date }}</td>
                <td>{{ pago.monto | currency }}</td>
                <td>{{ pago.metodo }}</td>
                <td>{{ pago.banco }}</td>
                <td>{{ pago.duracion }} meses</td>
              </tr>
            }
         
        </tbody>
      </table>
    </div>
  </div>
  }
</div>

<!-- Vincular cuentas -->
<!----<div class="container mt-5 p-4 border rounded shadow bg-light">
  <h2 class="mb-4 text-center">Vincular Cuentas</h2>
  <div class="row text-center">
     Vincular Google 
    <div class="col-md-4 mb-3">
      <button class="btn btn-danger w-100" (click)="vincularGoogle()">
        <i class="fab fa-google"></i> Vincular con Google
      </button>
    </div>
    
  </div>
</div>-->