<div class="horarios-costos-container">
  <div class="horcos-header">
      <h1>Horarios & Costos</h1>
    
    <div class="divider"></div>
    <h4>
      Descubre nuestros planes y horarios diseñados para adaptarse a tu estilo
      de vida
    </h4>
  </div>

  <!-- Tabs para navegar entre secciones -->
  <div class="tabs">    
    <!-- <button [class.active]="activeTab === 'planes'" (click)="setActiveTab('planes')">Horarios del Gimnasio</button> -->

    <button
      [class.active]="activeTab === 'horarios'"
      (click)="setActiveTab('horarios')"
    >
      Planes de Membresia
    </button>
    <button
      [class.active]="activeTab === 'clases'"
      (click)="setActiveTab('clases')"
    >
      Horarios de Clases
    </button>
  </div>
  

  <!-- Sección de Horarios del Gimnasio -->
  <div class="section horarios-section ">
    <div class="planes-container"> 
      @if (planes.length === 0) {
        <div class="text-center text-danger my-4">No hay planes disponibles.</div>
      }
      @for (plan of planes; track plan.nombre) {
        <div class="plan-card {{ plan.nombre | lowercase }}">
          <div class="plan-header">
            <h3>{{ plan.nombre }}</h3>
            <div class="price">${{ plan.precio }}<span>/mes</span></div>
          </div>
          <div class="plan-features">
            <ul>
              @for (beneficio of plan.beneficios; track beneficio) {
                <li>{{ beneficio }}</li>
              }
            </ul>
          </div>
          <button class="plan-button" (click)="pagar(plan)">
            Elegir Plan
          </button>
        </div>
      }
    </div>
  </div>
  

  <!-- Sección de Horarios de Clases -->
  <div class="section clases-section">
    <div class="tabla-clases-container mat-elevation-z2">

      @if (deportes.length === 0) {
        <div class="text-center text-danger my-4">No hay deportes disponibles.</div>
      }

      <table mat-table [dataSource]="dataSource" class="mat-table" matSort>
        <!-- Columna Clase -->
        <ng-container matColumnDef="clase">
          <th mat-header-cell *matHeaderCellDef> Clase </th>
          <td mat-cell *matCellDef="let deporte"> {{ deporte.nombre }} </td>
        </ng-container>
        <!-- Columna Descripción -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let deporte"> {{ deporte.bio }} </td>
        </ng-container>
        <!-- Columna Horario -->
        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef> Horario </th>
          <td mat-cell *matCellDef="let deporte"> {{ deporte.horario }} </td>
        </ng-container>
        <!-- Header y Rows -->
        <tr mat-header-row *matHeaderCellDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </div>
</div>