h1{
    color: #2c3e50;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

#paypal-button-container{
    width: 47%;
    margin: auto auto;
}
.btn.active {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}