
.custom-navbar {
    padding: 1.2rem 2rem;
  }
  
  .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    transition: color 0.2s, font-weight 0.2s;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .profile_button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  