<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="80" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deportes" routerLinkActive="active">Deportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/horarioscostos" routerLinkActive="active">Horarios & Costos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nutricion" routerLinkActive="active">Nosotros</a>
        </li>
        

        @if(!user){
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
        }
      </ul>

      
      @if(user){
      <!-- Icono perfil -->
      <div class="dropdown">
        <button class="dropdown-toggle d-flex align-items-center profile_button" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img
        [src]="user.imagenPerfil || 'https://cdn-icons-png.flaticon.com/512/847/847969.png' || 'assets' + user.imagenPerfil" 

        alt="Imagen de Perfil"
        class="rounded-circle"
        width="40"
        height="40"
      />
      <span class="ms-2">{{ user.nombre }}</span>
      
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="left: -30px; top: 60px;">
          @if(user.rol === 'admin'){
          <li><a class="dropdown-item" routerLink="/perfil_admin">Panel de Administración</a></li>
          }@else{
          <li><a class="dropdown-item" routerLink="/perfil">Panel de Usuario</a></li>
          }
          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
