<div class="hero-carousel">
  <div class="slides">
    @for (image of images; track image) {
      <div class="slide" [class.active]="images.indexOf(image) === currentIndex()">
        <img [src]="image" alt="Imagen del gimnasio">
        <div class="overlay">
          <div class="highlight-box">
            <h1>Santa Cruz</h1>
            <p class="spaced-text">G&nbsp;&nbsp;Y&nbsp;&nbsp;M</p>
          </div>
        </div>
      </div>
    }
  </div>

  <button class="nav prev" (click)="prevSlide()">&#10094;</button>
  <button class="nav next" (click)="nextSlide()">&#10095;</button>

  <div class="dots">
    @for (image of images; track image) {
      <span
        [class.active]="images.indexOf(image) === currentIndex()"
        (click)="goToSlide(images.indexOf(image))">
      </span>
    }
  </div>
</div>

<div class="inicio-container">
  <!-- <div class="header-section">
    <h1 class="main-title">Buscamos tu Bienestar</h1>
    <div class="title-underline"></div>
    <p class="subtitle">Descubre cómo transformar tu cuerpo y mente con nuestros servicios personalizados y un ambiente diseñado para tu éxito.</p>
  </div> -->

  <div class="deportes-header">
    <h1>Buscamos tu BIenestar</h1>
    <div class="divider"></div>
    <h4>Descubre cómo transformar tu cuerpo y mente con nuestros servicios personalizados y un ambiente diseñado para tu éxito.</h4>
  </div>

  <div class="services-container">
    @for (servicio of servicios; track servicio) {
      <div class="service-card">
        <div class="card-image-container">
          <img [src]="servicio.imagen" [alt]="servicio.titulo" class="card-image">
        </div>
        <h2 class="service-title">{{ servicio.titulo }}</h2>
        <p class="service-description">{{ servicio.descripcion }}</p>
      </div>
    }
  </div>
</div>

<div class="features-container">
  <!-- <h2 class="features-title">Servicios de Entrenamiento Premium</h2>
  <div class="features-underline"></div>
  <p class="features-subtitle">Garantizando excelencia en cada etapa de tu transformación física</p> -->

  <div class="deportes-header">
    <h1>Entrenamiento de Calidad</h1>
    <div class="divider"></div>
    <h4>Garantizando excelencia en cada etapa de tu transformación física</h4>
  </div>
  <div class="features-grid">
    @for (feature of features; track feature) {
      <div class="feature-card">
        <div class="feature-icon-container">
          <i class="feature-icon {{feature.icon}}"></i>
        </div>
        <h3 class="feature-card-title">{{feature.title}}</h3>
        <p class="feature-card-description">{{feature.description}}</p>
      </div>
    }
  </div>
</div>


<div class="video-container d-flex align-items-center vh-70">
  <div class="video-text me-4">
    <h2 class="video-title">Ven y Conócenos!</h2>
    <p class="video-description">
      Descubre nuestras instalaciones y servicios exclusivos diseñados para ayudarte a alcanzar tus metas fitness. ¡Te esperamos!
    </p>
  </div>
  <div class="video-frame ratio ratio-16x9">
    <iframe
      [src]="video | securedom:'https://www.youtube-nocookie.com/embed/'"
      class="embed-responsive-item"
      frameborder="0"
      allow=""
      allowfullscreen
      title="YouTube video player"
      loading="lazy"
    ></iframe>
  </div>
</div>