<div class="container mt-5">
    <h2 class="text-center mb-4">Formulario de Registro</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" class="form-control" />
        @if(registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched){
          <div class="invalid-feedback">
              Nombre es obligatorio.
          </div>
        }
      </div>

      <!-- Contraseña -->

      <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña:</label>
        <input id="contraseña" formControlName="contraseña" type="password" class="form-control" />
        @if(registroForm.get('contraseña')?.invalid && registroForm.get('contraseña')?.touched){
          <div class="invalid-feedback">
              Contraseña es obligatoria
          </div>
        }
      </div>
      
      <!-- Correo -->
      <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico:</label>
        <input id="correo" formControlName="correo" type="email" class="form-control" />
        @if(registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched){
          <div class="invalid-feedback">
              Correo es obligatorio y debe ser válido.
          </div>
        }
      </div>
    
      <!-- Teléfono -->
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input id="telefono" formControlName="telefono" type="tel" class="form-control" />
        @if(registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched){
          <div class="invalid-feedback">
            Teléfono es obligatorio.
          </div>
        }
      </div>
    
      <!-- Fecha de Nacimiento -->
      <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
        <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" class="form-control" />
        @if(registroForm.get('fechaNacimiento')?.invalid && registroForm.get('fechaNacimiento')?.touched){
          <div class="invalid-feedback">
            Fecha de nacimiento es obligatoria.
          </div>
        }
      </div>
    
      <!-- Botón de Envío -->
      <button type="submit" class="btn btn-primary w-100" [disabled]="registroForm.invalid">Registrar</button>
    </form>
  </div>
  